body {
  margin: 0;
}
.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    height: 60px;
    width: 100vw;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btns {
      margin-right: 20px;
    }

    .logo {
      line-height: 60px;
      font-size: 28px;
      color: #000;
      font-weight: normal;
      text-shadow: 2px 2px 4px #999;
      margin: 0;
      margin-left: 20px;
    }
  }
  .editor {
    flex: 1;
    width: 100vw;
    overflow: hidden;
    .main {
      position: relative;
      height: calc(100vh - 60px);
      #threejs-3d-container {
        position: absolute;
        z-index: 2;
        right: 0;
      }
      #threejs-2d-container {
        position: absolute;
        z-index: 1;
        right: 0;
      }
      .mode-change-btns {
        position: absolute;
        bottom: 20px;
        left: 320px;
        z-index: 3;
      }
    }

    position: relative;
    .menu,
    .properties {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: white;

      transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
      z-index: 10;
    }

    .menu {
      left: 0;
      border-right: 1px solid #000;
      width: 300px;
      .house-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .furniture-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .properties {
      right: 0;
      background-color: orange;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      transition: width 0.5s ease-in-out;
      height: calc(100vh - 60px - 201px);
      top: auto;
      width: 240px;
      bottom: 0;
      .drawer-bar {
        left: -10px;
      }
    }

    .drawer-bar {
      width: 10px;
      height: 80px;
      background-color: #000;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: pink;

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }
}

.ant-progress-text {
  margin-left: 10px !important;
}
